.panel {
  background-color: rgba(254, 240, 240, .25);
  margin-bottom: .5em;
}

.panel-heading {
  margin: 0 0;
  padding: .5em .5em;
  background-color: rgba(254, 240, 240, .50);
}

.panel-heading h3 {
  margin: .5em 0 0 0;
}

.panel-body {
  padding: .5em 1em;
}

.stats {
  margin: 0 auto;
}