<div class="panel text-center">
  <div class="panel-heading">
    <img src="../../../../assets/renzo.jpg" class="img-circle" height="100px" width="100px" alt="Avatar">
    <h3>{{user.firstName}} {{user.lastName}}</h3>
  </div>
  <div class="panel-body">
    <p class="stats">{{user.emailAddress}}</p>
    <p class="stats">{{user.contactNumber}}</p>
    <p *ngIf="user.city && user.province" class="stats">{{user.city}}, {{user.province}}</p>
    <p *ngIf="user.city && !user.province" class="stats">{{user.city}}</p>
    <p *ngIf="!user.city && user.province" class="stats">{{user.province}}</p>
  </div>
</div>