<div class="text-center panel">
  <div class="panel-header">
    <h4>Connections<span class="badge">{{connections.length}}</span></h4>
  </div>
  <div class="sent">
    <div *ngIf="connections.length" class="carousel slide" id="connections" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let user of connections; let i = index" [class]="setCarouselClass(i)">
          <img src="../../../../assets/renzo.jpg" alt="user image" class="img-responsive">
          <div class="carousel-caption background-global">
            <p>{{user.firstName}}</p>
            <button class="btn btn-cancel" (click)="sendMessage()">
              Send message <i class="fa fa-envelope"></i>
            </button>
          </div>
        </div>
      </div>
      
      <a *ngIf="connections.length > 1" href="#connections" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a *ngIf="connections.length > 1" href="#connections" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div [hidden]="connections.length || isGettingConnections">None</div>
    <div *ngIf="isGettingConnections" class="alert alert-primary fade in text-center">
      <strong><i>Loading...</i></strong>
    </div>
  </div>
</div>
      