.panel-heading {
  padding: 0 0 0 0;
}

.col-sm-4, .col-sm-12, .col-sm-6 {
  padding: 0 .40em;
  margin: 3px 0;
}

.btn {
  width: 100%;
}

.btn-success {
  background-color: #47d147;
}

.btn-success:hover {
  background-color: #248f24;
}

.title {
  margin-top: 0;
}

.signup {
  padding: 5em 0; 
}

.signup-form {
  padding: 3em 3em;
  background-color: rgba(254, 240, 240, .25);
}

.signup-header {
  color: #ffe6e6;
  margin: 1.5em 0;
}

.slogan-icon {
  font-size: 40px;
  color: rgba(254, 240, 240, .6);
}

h1.signup-header-slogan {
  font-family: 'Caveat Bush', cursive;
  font-size: 300%;
}

input {
  font-size: 15px;
}

select {
  color: rgb(146, 141, 141);
  font-size: 15px;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {	display: none; }