<div class="text-center panel">
  <div class="panel-header">
    <h4>Sent Requests<span class="badge">{{sent.length}}</span></h4>
  </div>
  <div class="sent">
    <div *ngIf="sent.length" class="carousel slide" id="sent-connections" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let user of sent; let i = index" [class]="setCarouselClass(i)">
          <img src="../../../../assets/renzo.jpg" alt="user image" class="img-responsive">
          <div class="carousel-caption background-global">
            <p>{{user.firstName}}</p>
            <button class="btn btn-request" (click)="deleteSentRequest(user.connectionID)" >
              Cancel request <i class="fa fa-remove"></i>
            </button>
          </div>
        </div>
      </div>
      
      <a *ngIf="sent.length > 1" href="#sent-connections" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a *ngIf="sent.length > 1" href="#sent-connections" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div [hidden]="sent.length || isGettingSentConnections">None</div>
    <div *ngIf="isGettingSentConnections" class="alert alert-primary fade in text-center">
      <strong><i>Loading...</i></strong>
    </div>
  </div>
</div>
    