<div  *ngIf="users.length" class="carousel slide" id="matchfinder" data-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let user of users; let i = index" [class]="setCarouselClass(i)">
      <img src="../../../../assets/renzo.jpg" alt="user image" class="img-responsive">
      <div class="carousel-caption background-global">
        <h4>{{user.firstName}} {{user.middleName}} {{user.lastName}}</h4>
        <app-interest *ngFor="let interest of user.interests; let i=index" [interest]="interest" [iter]="i"></app-interest>
        <p>{{user.city}}, {{user.province}}</p>
        <button class="btn btn-request" (click)="sendRequest(user.userID, user.firstName, user.lastName)">
          <span *ngIf="!mouseEntered">Send request <i class="fa fa-heart"></i></span>
        </button>
      </div>
    </div>
  </div>

  <a href="#matchfinder" class="left carousel-control" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a href="#matchfinder" class="right carousel-control" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div [hidden]="users.length || isGettingUsers" class="alert alert-danger alert-dismissible fade in text-center">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Hey, {{user.firstName}}!</strong>
  There are no more users available to flirt with.
</div>
<div *ngIf="isGettingUsers" class="alert alert-primary fade in text-center">
  <strong><i>Loading...</i></strong>
</div>