.panel {
  background-color: rgba(254, 240, 240, .25);
  margin-bottom: .5em;
  border-radius: 0;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75em .5em;
  background-color: rgba(254, 240, 240, .50)
}

.panel-header h4 {
  margin: 0 0;
  padding: 0 0;
}

span {
  margin: auto 0;
}

.interests {
  padding: .40em .40em;
}

#addInterest {
  margin: .20em .20em;
}