.col-sm-3, .col-sm-9 {
  padding: 0;
}

.chat {
  list-style: none;
  margin: 0 .40em 0 .40em;
  padding: 0;
}

/*  */
.chat li { 
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}
/*  */
.chat li.left .chat-body {
  margin-left: 60px;
}
/*  */
.chat li.right .chat-body {
  margin-right: 60px;
}

/*  */
.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.messages {
  overflow-y: scroll;
  max-height: 500px;
  min-height: 500px;
}

.contacts {
  float: left;
  overflow-y: scroll;
  max-height: 500px;
  min-height: 500px;
  margin-right: 5px;
  width: 100%;
}

.contacts .btn {
  border-radius: 0;
  margin: 0 0;
  padding: 15px 15px;
  border-bottom: 1px solid  lightgray;
  text-align: left;
  transition: .5s;
  outline: none;
}

.contacts .btn:hover {
  background-color: #dee1e5;
}

.active {
  background-color: #dee1e5;
}

.contact-view {
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.contact-view li.contact {
  margin-bottom: 5px;
  padding: 10px 5px;
  border-bottom: 1px solid #B3A9A9;
  font-size: 15px;
}

.contact-name {
  margin-left: 5px;
}

.contact-img img {
  height: 25px;
}

.primary-font {
  color: #000;
}

.sender-message {
  text-align: justify;
  text-align-last: right;
  width: 100%;
}

small > span {
  color: #777777
}

.panel-body {
  padding: 0;
}

.panel-footer {
  margin-right: 1em;
}

.alert {
  margin: 5px 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}